/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

.flex-container {
    display: flex;
}

img { 
    width: 100%;
}

.bgc-lightgray {
    background-color: #f6f6f6;
}

ul {
    list-style: none;
}

.btn {
    border-radius: 30px;
    border: 0px;
    padding: 20px 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */

/* header top */

.header-top {
    background-color: #255ee9;
}

.header-top-bar {
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.menu {
  
}

.menu ul {
    display: flex;
    justify-content: center;
}

.header-list li {
    padding: 0 10px;
    color: white;
}

.logo img {
    height: 40px;
}

.accedi {
    padding: 7px 12px;
    font-size: 12px;
}

/* jumbotron */

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    height: 550px;
    justify-content: center;
    align-items: center;
    color: white;
}

.jumbotron-text {
    text-align: center;
    width: 50%;
    line-height: 30px;
}

h1 {
    margin-bottom: 50px;
    font-size: 52px;
}

.jumbotron-text p {
    font-size: 20px;
}

.scarica {
    font-size: 24px;
    margin-top: 30px;
    display: inline-block;
}

.apri {
    font-size: 24px;
    background-color: #23272a;
    color: white;
    margin-left: 30px;
}

/* MAIN */

.content {
    padding: 60px 0;
}
.wide-column {
    width: 60%;
}

.narrow-column {
    width: 40%;
}
    
h2 {
    font-size: 50px;
}

p {
    font-size: 22px;
    padding: 20px 0;
    line-height: 30px;
}

.content-2 {
    padding: 60px 0;
    text-align: center;
}

h3 {
    font-size: 32px;
    padding: 15px 0;
    background-image: url("../img/stars.svg");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.scarica-2 {
    margin-top: 20px;
    background-color: #7289da;
    color: white;
    font-size: 22px;
    padding: 10px 20px;
}



